<section class="container mx-auto px-6 p-10">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
      Features
    </h2>
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">FLAIR</h4>
        <p class="text-gray-600 mb-8">
            Gliomas are the most frequent primary brain tumors in adults, presumably originating from glial cells and 
            infiltrating the surrounding tissues. Despite considerable advances in glioma research, patient diagnosis remains poor. 
        </p>
        <p>  
            Using a convolutional neural network and transfer learning BrainAI is able to use FLAIR
            (fluid-attenuated inversion recovery) segmentation to identify potential tumors
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <img src="static/technology.svg" alt="Monitoring"  height=300 width=400/>
      </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <img src="static/ml.svg" alt="Reporting" height=500 width=500/>
      </div>
      <div class="w-full md:w-1/2 pl-10">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">T1c</h4>
        <p class="text-gray-600 mb-8">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias facilis praesentium 
            corporis officiis vel perferendis tenetur deserunt quasi, perspiciatis doloribus ut delectus, 
            aliquam similique sapiente provident laudantium animi, cumque blanditiis!
        </p>
      </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3">T2</h4>
        <p class="text-gray-600 mb-8">
            Lorem ipsum dolor sit am
            onsectetur adipisicing elit. Culpa ullam voluptas beatae minus, 
            dicta itaque vel dolorem consequatur accusamus placeat exercitationem 
            perferendis dolore quam delectus, deleniti ab ut eius nesciunt officiis vitae voluptatum sapiente, sit ea? Sit eaque harum repellat cum eos similique quo explicabo, eius culpa quos quasi laudantium?
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <img src="static/jobs.svg" alt="Syncing" />
      </div>
    </div>
  </section>